.form-group {
  position: relative;
}

.label {
  color: $label-color;
  pointer-events: none;
  position: absolute;
  left: 5px;
  top: 15px;

  &.floating {
    transition: $transition-xs;
    top: -18px;
    font-size: 14px;
    color: $label-color-focus;
  }

  &.label-light {
    color: rgba(255, 255, 255, 0.5);
  }
}

.form-input {
  font-size: $font-size-base;
  font-family: $font-primary;
  color: $color-secondary;
  width: 100%;
  height: 50px;
  line-height: 49px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $input-border-color;
  padding: 0 5px;

  &:focus {
    outline: none;
    line-height: 48px;
    border-bottom: 2px solid $color-dark;
    color: $color-dark;
  }

  &.w-sm {
    max-width: 335px;
  }

  &.w-md {
    max-width: 375px;
  }

  &.floating:focus ~ label {
    top: -18px;
    font-size: 14px;
    color: $label-color-focus;
    transition: $transition;

    &.label-light {
      color: #ffffff;
    }
  }

  &.border-light {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.5);

    &:focus {
      border-color: #ffffff;
      color: #ffffff;
    }
  }
}

.form-textarea {
  resize: none;
  font-family: $font-primary;
  font-size: $font-size-base;
  color: $color-dark;
  padding: 18px;
  line-height: 20px;
  border-radius: $radius-xs;
  min-height: 160px;
  width: 100%;

  &:focus {
    border-color: $color-dark;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $color-secondary;
    font-family: $font-primary;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color-secondary;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color-secondary;
  }

  &:-ms-input-placeholder {
    color: $color-secondary;
  }
}

.file-upload {
  width: 100%;

  label {
    display: inline-block;
    color: #4c90d8;
    width: 110px;
    height: 110px;
    border: 2px solid rgba(#1f74ce, 0.8);
    line-height: 106px;
    text-align: center;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $font-primary;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
    }
  }
}


