body {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-primary;
  color: $color-secondary;
}

.container {
  @include push-auto;
  max-width: 1330px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  @include flex;
}

.flex-wrap {
  @include flex-wrap;
}

.space-between {
  @include space-between
}

.align-center {
  @include align-center
}

.content-center {
  @include content-center;
}

.border-bottom-primary {
  position: relative;

  &:after {
    content: '';
    background-image: -moz-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.1);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.border-bottom-secondary {
  border-bottom: 1px solid rgba(#2a2a2a, 0.1);
}

.rounded-box-with-shadow {
  border-radius: $radius-sm;
  box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.1);
}


