@import "variables";

body {
  line-height: 1;
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-primary !important;
  color: $color-secondary;
}


//.container {
//  @include push-auto;
//  max-width: 1950px;
//  padding-right: 15px;
//  padding-left: 15px;
//
//}


.gradient-border-bottom {
  position: relative;

  &:after {
    content: '';
    background-image: -moz-linear-gradient( 0deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.1);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.rounded-box-with-shadow {
    border-radius: $radius-sm;
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.links {

  li {
    a {
      color: rgba(42,42,42, 0.8);
    }

    &.active {
      color: $color-blue;
      background: #def2ff;
    }
  }
}
