//display
@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-wrap() {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin space-between() {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin align-center() {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

//flex end

@mixin push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

//font face
@mixin font-face($font-face-name, $font-name, $font-style:normal, $font-weight:normal) {
  $file-path: $fonts-folder +'/'+ $font-name;
  @font-face {
    font-family: $font-face-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($file-path + ".eot");
    src: url($file-path + ".eot?#iefix") format('embedded-opentype'),
    url($file-path + ".woff") format('woff'),
    url($file-path + ".ttf") format('truetype'),
  }
}

@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin bg-img-props($position) {
  background: no-repeat $position;
  background-size: cover;
}

@mixin arrow-down() {
  z-index: 0;
  position: relative;

  &:after {
    content: '\e901';
    position: absolute;
    font-family: icomoon;
    color: $color-secondary;
    right: 10px;
    bottom: 20px;
    font-size: 7px;
    z-index: -1;
  }
}


//border primary
@mixin border-top-primary() {
  position: relative;

  &:after {
    content: '';
    background-image: -moz-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(30, 194, 218) 0%, rgb(31, 133, 209) 47%, rgb(31, 72, 200) 100%);
    box-shadow: -1px 0px 8px 0px rgba(0, 0, 0, 0.1);
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}