.sign-in {
    @include flex;
    @include align-center;
    min-height: 100vh;
    background-image: -moz-linear-gradient( -45deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(30,194,218) 0%, rgb(31,133,209) 47%, rgb(31,72,200) 100%);

    .logo {
        max-width: 320px;

        img {
            width: 100%;
        }
    }
}
